body {
  font-family: 'Bree Serif', serif;
  text-align: center;
}

h2 {
  padding-bottom: 5%;
  font-weight: bold;
}

/* profilo */

#profilo {
  background-color: #fca652;
  padding: 7%;
  color: #fff;
  font-size: 1rem;
  line-height: 2;
}

.fotocv {
  height: 200px;
  border-radius: 100%;
}

/* container  */

.container-fluid {
  padding: 0%;
}

/* esperienze  */

#esperienze {
  background-color: #ffd57e;
  padding: 7%;
}

#slide-esperienze {
  text-align: left;
  padding: 0 100px;
}

/* competenze  */

#competenze {
  background-color: #fca652;
  padding: 7%;
  color: #fff;
  font-size: 1rem;
}

.competenze-align {
  text-align: left;
}

/* lingue */

#lingue {
  background-color: #ffd57e;
  padding: 7%;
}

/* istruzione  */

#istruzione {
  background-color: #fca652;
  padding: 7%;
  color: #fff;
}

.card {
  border: solid 1px;
}

.card-header {
  background-color: #fca652;
  color: #fff;
}

.card-body {
  background-color: #ffd57e;
}

/* footer  */

#footer {
  background-color: #ffd57e;
  padding: 7%;
}

.fab {
  padding: 2%;
  font-size: 25px;
}